<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.main">

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/public_network_security_config"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <meta-data
            android:name="com.wd.common.life.GlobalConfiguration"
            android:value="ConfigModule" />
    </application>
</manifest>
